@page "/alle-artikel"

@using DatabaseLibrary
@using Schulmuseum.Models
@using Microsoft.Extensions.Configuration

@inject DataAccess Data
@inject IConfiguration Config

@if (_subjects == null || _posts == null)
{
   <h3>Loading.....</h3>
} else

{
<div class="tags">
  <span class="tag@(_categoryFilter[0] ? " active" : "")" @onclick="() => UpdateFilter(0)">All</span>
  @foreach (var subject in _subjects)
  {
    <span class="tag@(_categoryFilter[(int)subject.Id!] ? " active" : "")" @onclick="() => UpdateFilter((int)subject.Id)">@subject.Name</span>
  }

  
</div>
  <div class="posts">
    @if (_posts.Count <= MaxBlogCount)
    {
      @foreach (var t in _posts)
      {
        string link = "/viewpost/" + @t.Id;
        <Post Category="@_subjects[t.CategoryId].Name" Title="@t.Title" ImageUrl="@t.TitleImage" CategoryId="@t.CategoryId" VisibleId="@VisibleCategoryId" Link="@link"/>
      }
    }
    else
    {
      @for (var i = 0; i < MaxBlogCount; i++)
      {
        string link = "/viewpost/" + @_posts[i].Id;
        <Post Category="@_subjects[_posts[i].CategoryId].Name" Title="@_posts[i].Title" ImageUrl="@_posts[i].TitleImage" CategoryId="@_posts[i].CategoryId" VisibleId="@VisibleCategoryId" Link="@link"/>
      }
    }
  </div>
}

@code 
{
  List<SubjectModel>? _subjects;
  List<BlogPost>? _posts;

  private const int MaxBlogCount = 15; // Max number of displayed blogs on title page
  private readonly List<bool> _categoryFilter = new List<bool>();
  public int VisibleCategoryId = 0;

  protected override async Task OnInitializedAsync()
  {
  // Get all the settings form the database
    _subjects = await Data.LoadData<SubjectModel, dynamic>("SELECT * FROM subjects", new { }, Config.GetConnectionString("main"));
    _categoryFilter.Add(true);
    foreach (var subject in _subjects)
    {
      _categoryFilter.Add(false);
    }
  // Get all the posts form the database
    _posts = await Data.LoadData<BlogPost, dynamic>("SELECT * FROM posts ORDER BY id DESC", new { }, Config.GetConnectionString("main"));
  }

  public void UpdateFilter(int value)
  {
    for (int i = 0; i < _categoryFilter.Count; i++)
    {
      _categoryFilter[i] = false;
    }
    _categoryFilter[value] = true;
    VisibleCategoryId = value;
  }
}